<% ptr1s = PlayerTeamRelationship.where(team_id: @team.id).where("gameweek_out is not null") %>
<% ptr1s.each do |ptr1| %>
  <%# <% ptr1 = @team.player_team_relationships.where(:player_id => player.id).first %> 
  <% player = ptr1.player %>
  <% gameweek_in = ptr1.gameweek_in %>
  <% gameweek_out = ptr1.gameweek_out %>
  <% captain = ptr1.captain %>
  <tr>
    <td><%= link_to player.common_name, player %><%= ' (c)' if captain %></td>
    <td><%= player.position %></td>
    <td><%= link_to player.premier_league_team.short_name, player.premier_league_team %></td>
    <td><%= gameweek_in %></td>
    <td><%= gameweek_out %></td>
    <% (1..@gameweek).each do |i| %>
      <td><%= (gameweek_out > i && gameweek_in <= i) ? (player.gameweek_points[i].to_i * (captain ? 2 : 1)) : '-' %></td>
    <% end %>
  </tr>
<% end %>
