<% provide(:title, @team.name) %>
<div class='title-bar'>
  <div class='main-title'>
    <%= @team.name %>
    <%= @team.formation %>
  </div>
</div>

<div class="list">
  <h3>Manager: <%= @team.user.name %></h3>
  <h4>Transfers remaining: <%= @team.transfers_remaining %></h4>
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th style="width: 130px">player</th>
        <th>pos</th>
        <th>pl</th>
        <th>GW in</th>
        <th>Total</th>
        <% (1..@team.gameweek).each do |i| %>
          <th><%= "GW#{i}" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render 'current_players' %>
    </tbody>
  </table>
  <br>
  <h3>Ex-players</h3>
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th style="width: 130px">player</th>
        <th>pos</th>
        <th>pl</th>
        <th>GW in</th>
        <th>GW out</th>
        <% (1..@team.gameweek).each do |i| %>
          <th><%= "GW#{i}" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render 'ex_players' %>
    </tbody>
  </table>
</div>
