<% provide(:title, @team.name) %>
<div class='title-bar'>
  <div class='main-title'>
    <%= @team.name %>
    <%= @team.formation %>
  </div>
</div>

<div class="list">
  <h3>Manager: <%= @team.user.name %></h3>
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th>player</th>
        <th>position</th>
        <th>pl team</th>
        <th>points</th>
      </tr>
    </thead>
    <tbody>
      <%= render @players %>
    </tbody>
  </table>
  <br>
  <h3>Ex-players</h3>
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th>player</th>
        <th>position</th>
        <th>pl team</th>
        <th>gameweek joined</th>
        <th>gameweek left</th>
        <th>points during time</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'ex_players' %>
    </tbody>
  </table>
</div>
