<h1>New bid</h1>

<h3>Choose formation</h3>
<select>
  <option value=''>None</option>
  <% @available_formations.each do |formation| %>
    <option value='<%= formation %>'><%= formation %></option>
  <% end %>
</select>

<%= form_for @bid, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :value %>
  <%= f.submit "Submit" %>
<% end %>
