<h1>New bid</h1>

<h3>Choose formation</h3>
<div class='dropdown' style='width:150px;'>
  <%= select_tag(:formation_id, options_for_select(@available_formations, :selected => :formation_id)) %>
</div>

<div>
  <%= form_for @bid, :url => {:action => "create"}, :html => {:class => "nifty_form"} do |f| %>
    <table>
      <tr>
        <th>Position</th>
        <th>Player ID</th>
        <th>Value</th>
      </tr>
      <% 11.times.each do |i| %>
        <tr>
          <%# <td><%= position_calculator(i, formation_id) </td> %>
          <td>GK</td>
          <td><%= f.text_field :player_id %></td>
          <td><%= f.text_field :value %></td>
        </tr>
      <% end %>
    </table>
    <%= f.submit "Submit" %>
  <% end %>
</div>
