<% Player.all.each do |player| %>
  <tr>
    <td><%= link_to player.full_name, player %> (<%= player.common_name %>)</td>
    <td><%= player.position %></td>
    <td><%= link_to player.premier_league_team.name, player.premier_league_team %></td>
    <td><%= total_player_points(player) || 0 %></td>
    <td><%= player.id %></td>
  </tr>
<% end %>
