<% provide(:title, @player.full_name) %>
<h1>
  <%= @player.full_name %> (<%= @player.premier_league_team.name %> <%= @player.position %>)
</h1>

<ul class="list">
  <li>
    <strong>Total points: <%= @points.inject(:+) %></strong>
  </li>
  <% @points.each_with_index do |gw, i| %>
    <li>
      Gameweek <%= i + 1 %>: <%= gw %>
    </li>
  <% end %>
</ul>
