<% provide(:title, @player.full_name) %>
<h1>
  <%= @player.full_name %> (<%= link_to @player.premier_league_team.name, @player.premier_league_team %> <%= @player.position %>)
</h1>

<ul class="list">
  <li>
    <strong>Total points: <%= total_player_points(@player) %></strong>
  </li>
  <% (1..38).each do |gw| %>
    <li>
      Gameweek <%= gw %>: <%= @points[gw.to_s] || 0 %>
    </li>
  <% end %>
</ul>
