<% if stadium == 'home' %>
  <% players = @match.home_team.current_players.where(position: position) %>
<% else %>
  <% players = @match.away_team.current_players.where(position: position) %>
<% end %>

<% players.each do |player| %>
  <div class="player" >

    <div class="image <%=player.chance_of_playing%>">
      <%= link_to image_tag(image_link(player)), player, id: player.id %>
      <div class= "player-news-container <%=player.chance_of_playing%>">
        <div class= "player-news">
          <%= player.news %>
        </div>
      </div>
    </div>

    <% if [@home_captain, @away_captain].include?(player) %> 
      <%= link_to player.common_name << " " << player_score(player).to_s, player, class: "name captain"%>
    <% else %>
      <%= link_to player.common_name << " " << player_score(player).to_s, player, class: "name"%>
    <% end %>  
  </div>
<% end %>
