<meta name="viewport" content="width=device-width, initial-scale=1">

<% provide(:title, @match.id) %>

<h2>(Gameweek <%= @match.gameweek %>)</h2>

<div class= "switch-container">
  <div class="mobile-perm">
    HOME
  </div>

  <label class="switch mobile-perm">
    <input type="checkbox">
    <span class="slider mobile-perm"></span>
  </label>

  <div class="mobile-perm">
    AWAY
  </div>
</div>

<div class="home mobile-visible">
  <div class="team-score">
    <%= link_to @match.home_team.name, @match.home_team %>
    -
    <%= squad_score_so_far("home") %>
  </div>

  <%= render 'pitch', stadium: 'home' %>
</div>

<div class="away mobile-hidden">
  <div class="team-score">
    <%= link_to @match.away_team.name, @match.away_team %>
    -
    <%= squad_score_so_far("away") %>
  </div>

  <%= render 'pitch', stadium: 'away' %>
</div>

