<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  function stadiumSwitcher() {
    var thingsToHide = document.querySelectorAll('.mobile-visible')
    var thingsToShow = document.querySelectorAll('.mobile-hidden')

    thingsToHide.forEach(element => {
      element.classList.remove('mobile-visible')
      element.classList.add('mobile-hidden')
    })

    thingsToShow.forEach(element => {
      element.classList.remove('mobile-hidden')
      element.classList.add('mobile-visible')
    })

    var thingsToHighlight = document.querySelectorAll('.highlighted')
    var thingsToUnhighlight = document.querySelectorAll('.unhighlighted')

    thingsToHighlight.forEach(element => {
      element.classList.remove('highlighted')
      element.classList.add('unhighlighted')
    })

    thingsToUnhighlight.forEach(element => {
      element.classList.remove('unhighlighted')
      element.classList.add('highlighted')
    })
  }
</script>
<% provide(:title, @match.id) %>

<h2>(Gameweek <%= @match.gameweek %>)</h2>

<div class="switch-container">
  <div class="mobile-perm highlighted">
    HOME
  </div>

  <label class="switch mobile-perm">
    <input type="checkbox" onclick="stadiumSwitcher()">
    <span class="slider mobile-perm"></span>
  </label>

  <div class="mobile-perm unhighlighted">
    AWAY
  </div>
</div>

<div class="stadia">
  <div class="stadium home mobile-visible">
    <div class="team-score">
      <%= link_to @match.home_team.name, @match.home_team %>
      -
      <%= squad_score_so_far("home") %>
    </div>

    <%= render 'pitch', stadium: 'home' %>
  </div>

  <div class="stadium away mobile-hidden">
    <div class="team-score">
      <%= link_to @match.away_team.name, @match.away_team %>
      -
      <%= squad_score_so_far("away") %>
    </div>

    <%= render 'pitch', stadium: 'away' %>
  </div>
</div>
