<% provide(:title, @match.id) %>

<h2>(Gameweek <%= @match.gameweek %>)</h2>

<div class="home">
  <div class="team-score">
    <%= link_to @match.home_team.name, @match.home_team %>
    -
    <%= home_squad_score_so_far %>
  </div>

  <%= render 'pitch', stadium: 'home' %>
</div>

<div class="away">
  <div class="team-score">
    <%= link_to @match.away_team.name, @match.away_team %>
    -
    <%= away_squad_score_so_far %>
  </div>

  <%= render 'pitch', stadium: 'away' %>
</div>

