<header>
  <div class="topnav">
   
    <%= link_to "FLONX", root_path, id: "logo" %> 
    
    <div id="menuLinks">   

        <%= link_to "Home", root_path %>
         
        <% if logged_in? %>
          <%= link_to "Users", users_path %>
          <%= link_to "Leaderboard", teams_path %>
          <%= link_to "Results", results_path %>
          <%= link_to "Fixtures", fixtures_path %>
          <%= link_to "Players", players_path %>
          <%= link_to "PL Teams", premier_league_teams_path %>
            <%= link_to "Profile", current_user %>
            <%= link_to "Settings", edit_user_path(current_user) %>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>

    </div>
    <a href="javascript:void(0);" class="icon" onclick="hamburger()">
        <i class="fa fa-bars"></i>
    </a>
    
  </div>
</header>